{
	"token"  : "THE_BOT_TOKEN",
	"prefix" : "!",
	"modules" : [ "help", "builds" ],
	"dbInfo"  : {
		"host"     : "localhost",
		"port"     : 3306,
		"user"     : "DBUSER",
		"password" : "DBUSERPASSWORD",
		"database" : "discord_bot"
	}
}
